{
  "openapi": "3.0.3",
  "info": {
    "title": "Thaisausage ERP Integration API",
    "version": "1.0.0",
    "description": "API สำหรับ ERP แจ้ง event, ส่ง/กวาด SO และรับ DO แบบ staging"
  },
  "servers": [
    {
      "url": "https://thaisausage.krs.co.th",
      "description": "Production VPS"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "security": [],
        "summary": "ตรวจสถานะ service",
        "responses": {
          "200": {
            "description": "Service is running"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "security": [],
        "summary": "OpenAPI specification",
        "responses": {
          "200": {
            "description": "OpenAPI JSON"
          }
        }
      }
    },
    "/docs": {
      "get": {
        "security": [],
        "summary": "เปิด Swagger UI",
        "responses": {
          "200": {
            "description": "Swagger UI"
          }
        }
      }
    },
    "/api/v1/erp/hooks/order-ready": {
      "post": {
        "summary": "รับ legacy ERP webhook (ไม่ใช่ช่องทางหลักของ scheduled sync)",
        "description": "เก็บ event เพื่อ compatibility เท่านั้น; scheduled sync ใช้ approved_orders_query",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ErpHook"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "รับ legacy event แล้ว"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/erp/orders": {
      "post": {
        "summary": "รับ SO จาก ERP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validated or sent"
          },
          "202": {
            "description": "ต้องตรวจสอบ upstream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/erp/pull": {
      "post": {
        "summary": "กวาด SO จาก ERP connector",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PullRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Pull result"
          },
          "202": {
            "description": "ต้องตรวจสอบ upstream"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "502": {
            "description": "ERP unavailable"
          }
        }
      }
    },
    "/api/v1/erp/do-received": {
      "post": {
        "summary": "รับ DO เข้า staging",
        "description": "เก็บ payload เพื่อสำรวจเท่านั้น ไม่เขียนกลับ ERP",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DoReceipt"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Staged; ตอบ {receipt_id, receipt_key, source: \"erp\", state, erp_write:false} และ replayed:true เมื่อส่งซ้ำ; callback ที่มาพร้อมกันได้ 202 ไม่ใช่ 500"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/vrp/do-received": {
      "post": {
        "summary": "รับ DO callback จาก eVRP และส่งเข้า ERP ตาม config",
        "description": "eVRP เรียกเมื่อสร้าง DO แล้ว ระบบตรวจ JSON, จอง identity แบบ atomic และเก็บเข้า staging เสมอ. ถ้า do_write.enabled=true และ payload มี transaction_no ระบบจะพยายามเขียน tbl_DOhdr/tbl_Dodtl ในทรานแซกชันเดียว ผลลัพธ์อยู่ในฟิลด์ do_write; staging ที่สำเร็จตอบ 202 เสมอ",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DoReceipt"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Staged; ตอบ {receipt_id, receipt_key, source:\"eVRP\", do_no, transaction_no, state, erp_write:false} และ replayed:true เมื่อส่งซ้ำ. transaction_no คือเลขเอกสารใน ERP ซึ่งเป็น null จนกว่าจะเขียนสำเร็จ และเป็นคีย์ที่ต้องใช้อ้างอิงเมื่อจะแก้เอกสารภายหลัง. เมื่อเปิด do_write ระบบจะพยายาม Insert ERP แล้วรายงานผลใน do_write:{state, reason, ...} โดย erp_write เป็น true เฉพาะเมื่อ state=inserted; ปัญหาของ writer ไม่เปลี่ยน HTTP status ของ callback"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/vrp/do-updated": {
      "post": {
        "summary": "รับ DO ฉบับแก้ไขจาก eVRP และปรับเอกสารเดิมใน ERP",
        "description": "ใช้เมื่อ DO ที่เคยส่งมาแล้วมีการเปลี่ยนแปลง. ส่ง receipt_id ใหม่ (คนละค่ากับครั้งสร้าง) พร้อม do_no เดิม และ header/details ฉบับล่าสุดทั้งชุด. ระบบค้นเลข TransactionNo จากบันทึกการเขียนของตัวเอง ไม่รับเลขจาก payload, แล้วแก้หัวเอกสารในที่เดิมและแทนที่รายการสินค้าทั้งหมดในทรานแซกชันเดียว. ปฏิเสธเมื่อเอกสารถูก Approve/Close หรือลงบัญชีแล้ว, เมื่อ do_no ไม่เคยถูกเขียนเข้า ERP จากระบบนี้, หรือเมื่อ do_write.update_enabled=false",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DoReceipt"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "รับไว้แล้ว; ตอบ {receipt_id, receipt_key, source:\"eVRP\", do_no, transaction_no, state, erp_write} พร้อม do_update:{state, reason, header_rows, detail_rows}. state=updated เมื่อแก้สำเร็จ, rejected พร้อม reason เมื่อปฏิเสธ (เช่น do_no_not_written หรือเอกสารถูกอนุมัติแล้ว), disabled เมื่อยังไม่เปิดใช้งาน. เหมือน do-received คือการแก้ที่ไม่สำเร็จไม่เปลี่ยน HTTP status"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/submissions/{request_id}": {
      "get": {
        "summary": "ดูสถานะ submission",
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Submission status"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key"
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Invalid or missing API key"
      },
      "Conflict": {
        "description": "Duplicate identity with different data"
      },
      "ValidationError": {
        "description": "Invalid JSON or business fields"
      }
    },
    "schemas": {
      "ErpHook": {
        "type": "object",
        "required": [
          "event_id",
          "event_type",
          "source_id"
        ],
        "properties": {
          "event_id": {
            "type": "string",
            "maxLength": 120,
            "example": "ERP-EVENT-0001"
          },
          "event_type": {
            "type": "string",
            "enum": [
              "sales_order.ready",
              "sales_order.changed"
            ]
          },
          "source_id": {
            "type": "string"
          },
          "company_id": {
            "type": "string"
          },
          "order_no": {
            "type": "string"
          },
          "changed_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "OrderRequest": {
        "type": "object",
        "required": [
          "request_id",
          "orders"
        ],
        "properties": {
          "request_id": {
            "type": "string",
            "maxLength": 120
          },
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Order"
            }
          }
        }
      },
      "Order": {
        "type": "object",
        "required": [
          "order_no",
          "order_date",
          "customer",
          "pickup_hub_code",
          "items"
        ],
        "properties": {
          "order_no": {
            "type": "string"
          },
          "order_date": {
            "type": "string",
            "format": "date"
          },
          "delivery_date": {
            "type": [
              "string",
              "null"
            ],
            "format": "date"
          },
          "payment_in_day": {
            "type": [
              "number",
              "null"
            ],
            "description": "0 = COD"
          },
          "customer": {
            "type": "object",
            "required": [
              "code"
            ],
            "properties": {
              "code": {
                "type": "string"
              },
              "name": {
                "type": "string"
              }
            }
          },
          "delivery_point_code": {
            "type": "string"
          },
          "shipping_address": {
            "type": "string"
          },
          "pickup_hub_code": {
            "type": "string"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          }
        }
      },
      "OrderItem": {
        "type": "object",
        "required": [
          "item_code",
          "quantity",
          "unit_price"
        ],
        "properties": {
          "line_no": {
            "type": "integer"
          },
          "item_code": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "quantity": {
            "type": "number",
            "exclusiveMinimum": 0
          },
          "unit_price": {
            "type": "number",
            "minimum": 0
          }
        }
      },
      "PullRequest": {
        "type": "object",
        "required": [
          "request_id"
        ],
        "properties": {
          "request_id": {
            "type": "string"
          },
          "query": {
            "type": "object",
            "additionalProperties": {
              "type": [
                "string",
                "number",
                "boolean"
              ]
            }
          }
        }
      },
      "DoReceipt": {
        "type": "object",
        "properties": {
          "receipt_id": {
            "type": "string"
          },
          "do_no": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          },
          "transaction_no": {
            "type": "string",
            "description": "จำเป็นเฉพาะเมื่อจะให้ระบบเขียน DO เข้า ERP; ถ้าไม่ส่ง ระบบจะ staging อย่างเดียว"
          }
        },
        "description": "ต้องมี receipt_id หรือ do_no อย่างน้อยหนึ่งค่า (ยาวไม่เกิน 120 ตัวอักษร); eVRP ต้องใช้ receipt_id เดิมทุกครั้งที่ส่ง DO ใบเดิมซ้ำ ระบบเก็บ identity แบบ <source>:<receipt_id> จึงไม่ชนกับ DO ที่ส่งมาทาง ERP",
        "anyOf": [
          {
            "required": [
              "receipt_id"
            ]
          },
          {
            "required": [
              "do_no"
            ]
          }
        ]
      },
      "DoWriteResult": {
        "type": "object",
        "description": "ผลการพยายามเขียน ERP: inserted, disabled, skipped, rejected, conflict หรือ needs_review",
        "properties": {
          "state": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "transaction_no": {
            "type": "string"
          },
          "header_rows": {
            "type": "integer"
          },
          "detail_rows": {
            "type": "integer"
          },
          "statements": {
            "type": "integer"
          }
        }
      }
    }
  }
}
